
.categories {
    padding: 10px;
}

.category-a {
    width: 100%;
    position: relative;
    /* Enable absolute positioning for child elements */
}

.category-a img {
    width: 100%;
    height: fit-content;
}

.category {
    margin-bottom: 1em;
}

.category-name {
    font-size: 50px;
    text-align: end;
    /* Positions the element 10px from the bottom */
    left: 50px;
    /* Positions the element 10px from the left */
    color: rgb(0, 0, 0);
    z-index: 1;
    /* Adjust if needed for overlapping elements */
}

.category-title{
    font-size: 50px;
    margin-left: .2em;
    font-family: var(--emphasized-font);
}

@media screen and (max-width: 500px){  
    .category-name{
        font-size: 20px;
    }
}