* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  outline: none;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
}

ul {
  list-style: none;
}

select {
  width: 20rem;
  height: 2rem;
  background: white;
  border: 0.5px solid;
}

header {
  height: 6rem;
  width: 100vw;
  border-bottom: 2px solid #ddd;
  text-align: center;
}

.admin-content {
  padding-top: 2rem;
  display: flex;
}

.admin-content .left {
  background: #dddd;
  width: fit-content;
  height: 100vh;
  padding: 0 1em;
}

.admin-content .left > ul > li > a {
  font-weight: 600;
}

.admin-content .left ul li {
  margin: 1rem 0;
}

.admin-content .left ul ul {
  margin-left: 1rem;
}

.admin-content .right {
  width: 80%;
  padding: 0rem 0 0rem 2rem;
  font-family: "Poppins";
}

.admin-content .add input {
  height: 2rem;
  width: 20rem;
  padding-left: 1rem;
  margin-top: 1rem;
}

.admin-content .add button {
  display: block;
  margin-top: 2rem;
  height: 2.5rem;
  width: 8rem;
  cursor: pointer;
  border: none;
}

.admin-content .add button:hover {
  background: rgb(0, 0, 0);
  color: white;
  border-color: black;
  transition: 0.3s;
}

.admin-content .add button:focus {
  border: 2px solid rgb(133, 41, 24);
  border-radius: 0.3rem;
}

.admin-content .right{
  font-family: "Poppins";
}

.admin-content .right h1{
  font-size: 4rem;
  margin-bottom: 3rem;
}


/* ----------Category list-------------- */
.admin-content .right .list {
  margin-right: 2rem;
}
.right table {
  text-align: center;
  border-collapse: collapse;
}

.right th, td {
  padding: 1rem 5rem 1rem 0;
  border-bottom: 1px solid;
}

.right table {
  border-bottom: 1px solid;
}

.right table {
  
}


/* ----------Product-------------- */
.admin-content .right .product input,
select,
textarea {
  display: inline-block;
  width: 30rem;
  height: 3rem;
  margin: 1rem 0 2rem 0;
  font-size: 1rem;
}

.admin-content .right .product select {
  padding-left: 1rem;
}

.admin-content .right .product textarea {
  padding: 1rem;
  height: 10rem;
  width: 100%;
}

.admin-content .right .product input[name="productPrice"] {
  width: 30%;
  margin-right: 0;
}

span.money {
  padding-left: 1rem;
  font-size: 1.2rem;
}

.admin-content .right .product input[type="file"] {
  padding: 0;
}

.admin-content .right .product label {
  font-size: 1.2rem;
}

.admin-content .right .product button {
  margin: auto;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 600;
  height: 5rem;
  width: 20%;
}

.modify {
  font-size: medium;
  padding: 1px;
}

/* Product list */
img{
  margin: 1rem 0 1rem 0;
  width: 5rem;
  height: auto;
  object-fit: cover;
  align-items: center;
}