* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  outline: none;
}
.btn {
  background: transparent;
  padding: .5rem;
  font-size: .8rem;
  border: 1px solid;
  border-radius: 10%;
  width: 2rem;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
}

ul {
  list-style: none;
}

select {
  width: 20rem;
  height: 2rem;
  background: white;
  border: 0.5px solid;
}

header {
  height: 6rem;
  width: 100vw;
  border-bottom: 2px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;

}

.admin-content {
  display: flex;
}

.admin-content .left {
  background: #dddd;
  width: fit-content;
  height: 100vh;
  padding: 0 2rem 0 2rem;
}

.admin-content .left > ul > li > a {
  font-weight: 600;
}

.admin-content .left ul li {
  margin: 1rem 0;
}

.admin-content .left ul ul {
  margin-left: 1rem;
}

.admin-content .right {
  margin-left: 2rem;
  font-family: "Poppins";
  display: flex;
  justify-content: center;
}

.admin-content .add input {
  height: 4rem;
  width: 20rem;
  padding-left: 1rem;
  margin: 1rem 0 2rem 0;
}

.admin-content .add button {
  display: block;
  height: 3rem;
  width: 10rem;
  cursor: pointer;
  border: none;

}


.admin-content .add button:hover {
  background: rgb(0, 0, 0);
  color: white;
  border-color: black;
  transition: 0.3s;
}

.admin-content .add button:focus {
  border: 2px solid rgb(133, 41, 24);
  border-radius: 0.3rem;
}

.admin-content .right {
  font-family: "Poppins";
}

.admin-content .right h1 {
  text-align: left;
  font-size: 4rem;
}

.admin-content .right option {
  padding-left: 1rem;
}

/* ----------Category list-------------- */
.admin-content .right .list {
  display: flex;
  flex-direction: column;
}
.right table {
  border-collapse: collapse;
  width: 100%;  
}

.right table tr {
  border-bottom: 1px solid;
}

.right table th, tr,
td {
  padding: 1rem 5rem 1rem 0;
  border: none;
  align-items: center;

}

.right table td:nth-last-child(2) {
  padding-right: .5rem;
}

.btn:hover{
  color: white;
  background: #000;
  transition: .3s all;
}

/* ----------Product-------------- */
.admin-content .right .product.add table {
  border-bottom: none;
}

.admin-content .right .product.add table th,
td {
  padding-right: 2em;
}

.admin-content .right .product.add table tr:nth-child(2n) td {
  padding-bottom: 0;
}

.admin-content .right .product input,
select,
textarea {
  display: inline-block;
  width: 20rem;
  height: 4rem;
  margin: 0rem 0 0.5rem 0;
  font-size: 1rem;
  padding: 1rem;
}

.admin-content .right .product select {
  padding-left: 1rem;
}

.admin-content .right .product textarea {
  padding: 1rem;
  height: 10rem;
  width: 100%;
}

.admin-content .right .product input[name="productPrice"] {
  width: 30%;
  margin-right: 0;
}

span.money {
  padding-left: 1rem;
  font-size: 1.2rem;
}

.admin-content .right .product input[type="file"] {
  padding: 0;
}

.admin-content .right .product label {
  font-size: 1.2rem;
}

.admin-content .right .product button {
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 600;
  height: 5rem;
  width: 30%;
}

.modify {
  font-size: medium;
  padding: 1px;
}

/* Product list */
img {
  margin: 1rem 0 1rem 0;
  width: 5rem;
  height: auto;
  object-fit: cover;
  align-items: center;
}

.product.add table tr,
td,
th {
  border: none;
}

.product.add tr {
  padding: 0;
}

.product.list table td:nth-last-child(2) {
  padding-right: .5rem;
}

