* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  outline: none;
}

.btn {
  background: transparent;
  padding: .5rem;
  font-size: .8rem;
  border: 1px solid;
  border-radius: 10%;
  width: 2rem;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
}

ul {
  list-style: none;
}

select {
  width: 20rem;
  height: 2rem;
  background: white;
  border: 0.5px solid;
}

header {
  height: 6rem;
  width: 100vw;
  border-bottom: 2px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;

}

.admin-content {
  display: flex;
}

.admin-content .left {
  background: #dddd;
  width: 20%;
  height: 100vh;
  padding: 0 2rem 0 2rem;
}

.admin-content .left > ul > li > a {
  font-weight: 600;
}

.admin-content .left ul li {
  margin: 1rem 0;
}

.admin-content .left ul ul {
  margin-left: 1rem;
}

.admin-content .right {
  margin-left: 2rem;
  font-family: "Poppins";
  display: flex;
  justify-content: center;
}

.category-add input {
  height: 4rem;
  width: 20rem;
  padding-left: 1rem;
  margin: 1rem 0 2rem 0;
}

.category-add select {
  height: 4rem;
  width: 20rem;
  padding-left: 1rem;
  margin: 1rem 0 2rem 0;
}

.admin-content .category-add button {
  display: block;
  height: 3rem;
  width: 10rem;
  cursor: pointer;
  border: none;

}


.category-add button:hover {
  background: rgb(0, 0, 0);
  color: white;
  border-color: black;
  transition: 0.3s;
}

.category-add button:focus {
  border: 2px solid rgb(133, 41, 24);
  border-radius: 0.3rem;
}

.right {
  font-family: "Poppins";
}

.right h1 {
  text-align: left;
  font-size: 4rem;
}

.right option {
  padding-left: 1rem;
}

/* ----------Category list-------------- */
.right {
  display: flex;
  justify-content: center;
  width: 80%;
}
.category-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category-list table {
  border-collapse: collapse;  
  display: flex;
  justify-content: center;
}

.category-list h1 {
  justify-content: start;
}

.category-list table tr {
  border-bottom: 1px solid;
}

.category-list td, 
.category-list th {
  padding: 1rem 5rem 1rem 0;
  border: none;
  align-items: center;
}

.category-list th:nth-last-child(1) {
  text-align: left;
}

.category-list th:nth-child(1),
.category-list td:nth-child(1) {
  padding-left: 5rem;
  text-align: left;
}


.category-list table td:nth-last-child(2) {
  padding-right: .5rem;
}

.btn:hover {
  color: white;
  background: #000;
  transition: .3s all;
}

/* ----------Product-------------- */
.product-add table {
  border-bottom: none;
}

.product-add th,
.product-add td {
  padding-right: 2em;
}

.product-add tr:nth-child(2n) td {
  padding-bottom: 0;
}

.product-add input,
.product-add select,
.product-add textarea {
  display: inline-block;
  width: 20rem;
  height: 4rem;
  margin: 0rem 0 0.5rem 0;
  font-size: 1rem;
  padding: 1rem;
}

.product-add select {
  padding-left: 1rem;
}

.product-add textarea {
  padding: 1rem;
  height: 10rem;
  width: 100%;
}

.product-add input[name="productPrice"] {
  width: 30%;
  margin-right: 0;
}

span.money {
  padding-left: 1rem;
  font-size: 1.2rem;
}

.product-add input[type="file"] {
  padding: 0;
}

.product-add label {
  font-size: 1.2rem;
}

.product.add button {
  padding: 1em 5em;
  border: 1px solid;
  background-color: transparent;
}

.product.add button:hover {
  color: white;
  background: #000;
  transition: .3s all;
}

.modify {
  font-size: medium;
  padding: 1px;
}

/* Product list */
img {
  margin: 1rem 0 1rem .5rem;
  width: 4rem;
  height: auto;
  object-fit: cover;
  align-items: center;
}

.product-list table {
  border-collapse: collapse;
  height: 100vh;
}

.product-list tr{
  border-bottom: 1px solid;
}

.product-list tr, 
.product-list th, 
.product-list td {
  padding: 1rem 3rem 0rem 0;
}

.product-list th {
  padding-bottom: 1.5rem;
}


.product-list table {
  max-width: 100%;
  overflow: auto;
}

.product-list td:nth-child(9) {
  padding-right: 1rem;
}

.product-list td:nth-child(7) {
  padding:1rem .5rem .5rem 0;
  float:left;
  max-width: 20rem;
  overflow-y: auto;
  word-wrap: break-word; /* For older browsers */
  word-break: break-word; /* For newer browsers */
  height: 9rem;
}

/* product add  */